div(class='contact margin-container-4')
  p(class='section-title no-alone-1') Contact
    div(class='container')
      ul
        li(class='article margin-text-2')=resume.basics.phone
        li(class='article margin-text-2')=resume.basics.email
        li(class='article margin-text-2')=helper.calcLocation(resume.basics.location)
